<!-- filepath: /Users/wrburgess/Projects/research/acuna/app/views/admin/players/index.html.erb -->
<%= render Admin::HeaderForIndex::Component.new(
  instance: @instance, 
  controller: params[:controller], 
  action: params[:action], 
  new_button: true, 
  collection_export_xlsx_button: true, 
  show_filtering: true) 
%>

<%= render Admin::PageContainer::Component.new do %> 
  <div class="card mb-3">
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-sm table-hover">
          <thead>
            <tr class="bg-light">
              <th><%= sort_link([:admin, @q], :first_name, "First Name", default_order: :asc) %></th>
              <th><%= sort_link([:admin, @q], :middle_name, "Middle Name", default_order: :asc) %></th>
              <th><%= sort_link([:admin, @q], :last_name, "Last Name", default_order: :asc) %></th>
              <th><%= sort_link([:admin, @q], :name_suffix, "Suffix", default_order: :asc) %></th>
              <th><%= sort_link([:admin, @q], :player_type, "Player Type") %></th>
              <th><%= sort_link([:admin, @q], :position, "Position") %></th>
              <th><%= sort_link([:admin, @q], :team_id, "Team") %></th>
              <th><%= sort_link([:admin, @q], :level, "Level") %></th>
              <th><%= sort_link([:admin, @q], :status, "Status") %></th>
              <th class="text-end">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @instances.each do |instance| %>
              <tr>
                <td><%= instance.first_name %></td>
                <td><%= instance.middle_name %></td>
                <td><%= instance.last_name %></td>
                <td><%= instance.name_suffix %></td>
                <td><%= instance.player_type %></td>
                <td><%= instance.position %></td>
                <td>
                  <% if instance.team %>
                    <%= link_to instance.team.name, admin_team_path(instance.team) %>
                  <% else %>
                    <span class="text-muted">Free Agent</span>
                  <% end %>
                </td>
                <td><%= instance.level&.abbreviation %></td>
                <td><%= instance.status&.abbreviation %></td>
                <td class="text-end">
                  <div class="btn-group btn-group-sm">
                    <%= link_to "View", admin_player_path(instance), class: "btn btn-primary" %>
                    <%= link_to "Edit", edit_admin_player_path(instance), class: "btn btn-secondary" %>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li><%= button_to "Delete", admin_player_path(instance), method: :delete, class: "dropdown-item text-danger", data: { confirm: "Are you sure you want to delete this player?" } %></li>
                      <% if instance.archived_at? %>
                        <li><%= button_to "Unarchive", unarchive_admin_player_path(instance), method: :patch, class: "dropdown-item" %></li>
                      <% else %>
                        <li><%= button_to "Archive", archive_admin_player_path(instance), method: :patch, class: "dropdown-item" %></li>
                      <% end %>
                    </ul>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Pagination Controls -->
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>

  <%= render Admin::FilterCard::Component.new do %>
    <%= simple_form_for [:admin, @q], url: admin_players_path, html: { method: :get }, wrapper: :floating_labels_form do |f| %>
      <%= f.input :id_eq, label: "ID", placeholder: "ID equals" %>
      <%= f.input :first_name_cont, label: "First Name", placeholder: "First Name contains" %>
      <%= f.input :last_name_cont, label: "Last Name", placeholder: "Last Name contains" %>
      <%= f.input :player_type_cont, label: "Player Type", placeholder: "Player Type contains" %>
      <%= f.input :position_eq, label: "Position", placeholder: "Position equals" %>
      <%= f.input :team_id_eq, collection: Team.all, label: "Team", include_blank: "Any" %>
      <%= f.input :roster_id_eq, collection: Roster.all, label: "Roster", include_blank: "Any" %>
      <%= f.input :archived_at_not_null, as: :boolean, label: "Archived?", wrapper: :custom_boolean_switch %>
      
      <%= render Admin::FormButton::Component.new(operation: :filter) %>
      <%= render Admin::LinkButton::Component.new(text: 'Reset Form', path: admin_players_path) %>
    <% end %>
  <% end %>
<% end %>
