<div class="container-fluid mt-4">
  <div class="row">
    <!-- Player Card -->
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-header bg-primary text-white">
          <h4><%= @instance.full_description %></h4>
        </div>
        <div class="card-body">          
          <!-- Status and Metrics -->
          <div class="card-text mb-3">
            <table class="table table-sm">
              <tbody>
                <tr>
                  <th scope="row" style="width: 30%">Roster</th>
                  <td><%= @instance.roster&.name %></td>
                </tr>
                <tr>
                  <th scope="row">Team</th>
                  <td><%= @instance.team&.name %></td>
                </tr>
                <tr>
                  <th scope="row">Acquired</th>
                  <td>2017 Draft 1.17</td>
                </tr>
                <tr>
                  <th scope="row">Current Level</th>
                  <td><%= @instance.level&.name %></td>
                </tr>
                <tr>
                  <th scope="row">ETA / Risk</th>
                  <td><%= @profile.eta %> / <%= @profile.risk %></td>
                </tr>
                <tr>
                  <th scope="row">Age / Ht / Wt</th>
                  <td><%= format_stat(@instance.age, :integer) %> / <%= @instance.height %> / <%= @instance.weight %></td>
                </tr>
                <tr>
                  <th scope="row">Hits / Throws</th>
                  <td><%= @instance.bats %> / <%= @instance.throws %></td>
                </tr>
                <tr>
                  <th scope="row">TJ Surgery</th>
                  <td><%= default_date_format(@profile.tj_at) %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
    
    
    <!-- Rankings Card -->
    <div class="col-md-6">
      <div class="card h-100">
        <div class="card-header bg-warning">
          <h4>Rankings</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="bg-light">
                <tr>
                  <th scope="col">Metric</th>
                  <th scope="col">FG</th>
                  <th scope="col">ESPN</th>
                  <th scope="col">ATH</th>
                  <th scope="col">BA</th>
                  <th scope="col">CBS</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Overall</th>
                  <td><%= format_stat(@profile.fg_overall_rank, :integer) %></td>
                  <td><%= format_stat( @profile.espn_overall_rank, :integer) %></td>
                  <td><%= format_stat(@profile.ath_overall_rank, :integer) %></td>
                  <td><%= format_stat(@profile.ba_overall_rank, :integer) %></td>
                  <td><%= format_stat(@profile.cbs_overall_rank, :integer) %></td>
                </tr>
                <tr>
                  <th scope="row">Team</th>
                  <td><%= format_stat(@profile.fg_team_rank, :integer) %></td>
                  <td><%= format_stat( @profile.espn_team_rank, :integer) %></td>
                  <td><%= format_stat(@profile.ath_team_rank, :integer) %></td>
                  <td><%= format_stat(@profile.ba_team_rank, :integer) %></td>
                  <td><%= format_stat(@profile.cbs_team_rank, :integer) %></td>
                </tr>
                <tr>
                  <th scope="row">FV</th>
                  <td><%= format_stat(@profile.fg_future_value, :integer) %></td>
                  <td><%= format_stat( @profile.espn_future_value, :integer) %></td>
                  <td><%= format_stat(@profile.ath_future_value, :integer) %></td>
                  <td><%= format_stat(@profile.ba_future_value, :integer) %></td>
                  <td><%= format_stat(@profile.cbs_future_value, :integer) %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Analysis and Rankings Row -->
  <div class="row mb-4">
    <!-- Analysis Card -->
    <div class="col-md-6 mb-4 mb-md-0">
      <div class="card h-100">
        <div class="card-header bg-info text-white">
          <h4>Analysis</h4>
        </div>
        <div class="card-body">
          <div class="accordion" id="analysisAccordion">
            <% @reports.each_with_index do |report, index| %>
              <% el_name = "collapse_#{index}"%>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#<%= el_name %>" aria-expanded="true" aria-controls="<%= el_name %>">
                    <%= report.scout&.company %>, <%= report.scout&.last_name %>, <%= report.reported_at.strftime('%m/%y') %>
                  </button>
                </h2>
                <div id="<%= el_name %>" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#analysisAccordion">
                  <div class="accordion-body">
                    <%= report.body %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Comments Card -->
    <div class="col-md-6 mb-4 mb-md-0">
      <div class="card h-100">
        <div class="card-header bg-secondary text-white">
          <h4>Comments</h4>
        </div>
        <div class="card-body">
          <div class="accordion" id="analysisAccordion">
            <% @reports.each_with_index do |report, index| %>
              <% el_name = "collapse_#{index}"%>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#<%= el_name %>" aria-expanded="true" aria-controls="<%= el_name %>">
                    My comment <%= report.reported_at.strftime('%m/%y') %>: <%= report.body&.truncate(50) %>
                  </button>
                </h2>
                <div id="<%= el_name %>" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#analysisAccordion">
                  <div class="accordion-body">
                    <%= report.body %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div><!-- /Comments Card -->

  </div>
  
  <% if @instance.batter? %>
    <div class="row mb-4">
      <div class="col-12">
        <div class="card">
          <div class="card-header bg-danger text-white">
            <h4>Hitting Grades</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr class="bg-dark text-white">
                    <th scope="col">Service</th>
                    <th scope="col">Hit</th>
                    <th scope="col">Gm Pwer</th>
                    <th scope="col">Raw Pwer</th>
                    <th scope="col">Bat Ctrl</th>
                    <th scope="col">Pit Sel</th>
                    <th scope="col">Hard Hit</th>
                    <th scope="col">Speed</th>
                    <th scope="col">Field</th>
                    <th scope="col">Arm</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">FG</th>
                    <td><%= format_stat(@profile.bat_hit_pres, :integer) %>/<%= format_stat(@profile.bat_hit_proj, :integer) %></td>
                    <td><%= format_stat(@profile.bat_game_pwr_pres, :integer) %>/<%= format_stat(@profile.bat_game_pwr_proj, :integer) %></td>
                    <td><%= format_stat(@profile.bat_raw_pwr_pres, :integer) %>/<%= format_stat(@profile.bat_raw_pwr_proj, :integer) %></td>
                    <td><%= format_stat(@profile.bat_bat_ctrl, :integer) %></td>
                    <td><%= format_stat(@profile.bat_pit_sel, :integer) %></td>
                    <td><%= format_stat(@profile.bat_hard_hit, :integer) %></td>
                    <td><%= format_stat(@profile.bat_spd_pres, :integer) %>/<%= format_stat(@profile.bat_spd_proj, :integer) %></td>
                    <td><%= format_stat(@profile.bat_fld_pres, :integer) %>/<%= format_stat(@profile.bat_fld_proj, :integer) %></td>
                    <td><%= format_stat(@profile.bat_arm_pres, :integer) %>/<%= format_stat(@profile.bat_arm_proj, :integer) %></td>
                  </tr>
                  <tr>
                    <th scope="row">BA</th>
                    <td><%= format_stat(@profile.bat_hit_proj, :integer) %></td>
                    <td><%= format_stat(@profile.bat_game_pwr_proj, :integer) %></td>
                    <td></td>
                    <td><%= format_stat(@profile.bat_bat_ctrl, :integer) %></td>
                    <td></td>
                    <td></td>
                    <td><%= format_stat(@profile.bat_spd_proj, :integer) %></td>
                    <td><%= format_stat(@profile.bat_fld_proj, :integer) %></td>
                    <td><%= format_stat(@profile.bat_arm_proj, :integer) %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  
  <% if @instance.pitcher? %>
    <div class="row mb-4">
      <div class="col-12">
        <div class="card">
          <div class="card-header bg-secondary text-white">
            <h4>Pitching Grades</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead class="bg-light">
                  <tr>
                    <th scope="col">Service</th>
                    <th scope="col">Command</th>
                    <th scope="col">Control</th>
                    <th scope="col">Fastball</th>
                    <th scope="col">Sweeper</th>
                    <th scope="col">Slider</th>
                    <th scope="col">Curve</th>
                    <th scope="col">Changeup</th>
                    <th scope="col">Cutter</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">FG</th>
                    <td><%= format_stat(@profile.pit_command_pres, :integer) %>/<%= format_stat(@profile.pit_command_proj, :integer) %></td>
                    <td><%= format_stat(@profile.pit_control_pres, :integer) %>/<%= format_stat(@profile.pit_control_proj, :integer) %></td>
                    <td><%= format_stat(@profile.pit_fastball_pres, :integer) %>/<%= format_stat(@profile.pit_fastball_proj, :integer) %></td>
                    <td><%= format_stat(@profile.pit_sweeper_pres, :integer) %>/<%= format_stat(@profile.pit_sweeper_proj, :integer) %></td>
                    <td><%= format_stat(@profile.pit_slider_pres, :integer) %>/<%= format_stat(@profile.pit_slider_proj, :integer) %></td>
                    <td><%= format_stat(@profile.pit_curve_pres, :integer) %>/<%= format_stat(@profile.pit_curve_proj, :integer) %></td>
                    <td><%= format_stat(@profile.pit_changeup_pres, :integer) %>/<%= format_stat(@profile.pit_changeup_proj, :integer) %></td>
                    <td><%= format_stat(@profile.pit_cutter_pres, :integer) %>/<%= format_stat(@profile.pit_cutter_proj, :integer) %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if @instance.batter? %>
    <div class="row mb-4">
      <div class="col-12">
        <div class="card">
          <div class="card-header bg-info text-white">
            <h4>Season Batting</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-sm">
                <thead class="bg-light">
                  <tr>
                    <th>Season</th>
                    <th>Team</th>
                    <th>Level</th>
                    <th>PA</th>
                    <th>AB</th>
                    <th>H</th>
                    <th>HR</th>
                    <th>R</th>
                    <th>RBI</th>
                    <th>BB</th>
                    <th>K</th>
                    <th>SB</th>
                    <th>CS</th>
                    <th>BB%</th>
                    <th>K%</th>
                    <th>BABIP</th>
                    <th>AVG</th>
                    <th>OBP</th>
                    <th>SLG</th>
                    <th>OPS</th>
                    <th>WAR</th>
                    <th>wRC+</th>
                  </tr>
                </thead>
                <tbody>
                  <% @stats.all.each do |stat| %>
                    <tr>
                      <td><%= stat&.timeline&.abbreviation %></td>
                      <td></td>
                      <td></td>
                      <td><%= stat.bat_pa %></td>
                      <td><%= stat.bat_ab %></td>
                      <td><%= stat.bat_hits %></td>
                      <td><%= stat.bat_hr %></td>
                      <td><%= stat.bat_runs %></td>
                      <td><%= stat.bat_rbi %></td>
                      <td><%= stat.bat_bb %></td>
                      <td><%= stat.bat_k %></td>
                      <td><%= stat.bat_sb %></td>
                      <td><%= stat.bat_cs %></td>
                      <td><%= stat.bat_bb_pct %></td>
                      <td><%= stat.bat_k_pct %></td>
                      <td><%= stat.bat_babip %></td>
                      <td><%= stat.bat_avg %></td>
                      <td><%= stat.bat_obp %></td>
                      <td><%= stat.bat_slg %></td>
                      <td><%= stat.bat_ops %></td>
                      <td><%= stat.bat_war %></td>
                      <td><%= stat.bat_wrc_plus %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  
  <% if @instance.pitcher? %>
    <div class="row mb-4">
      <div class="col-12">
        <div class="card">
          <div class="card-header bg-secondary text-white">
            <h4>Season Pitching</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-sm">
                <thead class="bg-light">
                  <tr>
                    <th>Timeline</th>
                    <th>Team</th>
                    <th>Level</th>
                    <th>G</th>
                    <th>GS</th>
                    <th>W</th>
                    <th>L</th>
                    <th>QS</th>
                    <th>CG</th>
                    <th>SV</th>
                    <th>HD</th>
                    <th>BS</th>
                    <th>IP</th>
                    <th>HA</th>
                    <th>RA</th>
                    <th>ER</th>
                    <th>HRA</th>
                    <th>BB</th>
                    <th>HBP</th>
                    <th>WP</th>
                    <th>BK</th>
                    <th>K/9</th>
                    <th>ERA</th>
                    <th>WHIP</th>
                    <th>BABIP</th>
                    <th>LOB%</th>
                    <th>FIP</th>
                  </tr>
                </thead>
                <tbody>
                  <% @stats.all.each do |stat| %>
                    <tr>
                      <td><%= stat&.timeline&.abbreviation %></td>
                      <td></td>
                      <td></td>
                      <td><%= stat.pit_games %></td>
                      <td><%= stat.pit_gs %></td>
                      <td><%= stat.pit_wins %></td>
                      <td><%= stat.pit_losses %></td>
                      <td><%= stat.pit_qs %></td>
                      <td><%= stat.pit_cg %></td>
                      <td><%= stat.pit_saves %></td>
                      <td><%= stat.pit_holds %></td>
                      <td><%= stat.pit_bs %></td>
                      <td><%= stat.pit_inn %></td>
                      <td><%= stat.pit_ha %></td>
                      <td><%= stat.pit_runs %></td>
                      <td><%= stat.pit_earned_runs %></td>
                      <td><%= stat.pit_hra %></td>
                      <td><%= stat.pit_bb %></td>
                      <td><%= stat.pit_hit_bats %></td>
                      <td><%= stat.pit_wilds %></td>
                      <td><%= stat.pit_balks %></td>
                      <td><%= stat.pit_k_9 %></td>
                      <td><%= stat.pit_era %></td>
                      <td><%= stat.pit_whip %></td>
                      <td><%= stat.pit_babip %></td>
                      <td><%= stat.pit_lob_pct %></td>
                      <td><%= stat.pit_fip %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="comments-section">
    <h2>Comments</h2>

    <div id="comments-list">
      <% @player.comments.active.each do |comment| %>
        <div class="comment">
          <div class="comment-header">
            <span class="author-initials"><%= comment.user.initials %></span>
            <span class="comment-date"><%= comment.created_at.strftime('%Y-%m-%d') %></span>
          </div>
          <div class="comment-body">
            <%= truncate(comment.body, length: 100) %>
            <button class="expand-comment" data-action="click->comment#expand">Expand</button>
          </div>
          <div class="comment-actions">
            <button class="edit-comment" data-action="click->comment#edit">Edit</button>
            <button class="archive-comment" data-action="click->comment#archive">Archive</button>
          </div>
        </div>
      <% end %>
    </div>

    <div id="new-comment-form">
      <%= form_with model: [@player, Admin::Comment.new], local: true do |form| %>
        <div class="form-group">
          <%= form.text_area :body, placeholder: "Add a comment..." %>
        </div>
        <div class="form-actions">
          <%= form.submit "Submit", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
