<%= render "shared/admin/view_div_wrapper", obj: @instance do %>
  <div class="row header">
    <%= component "header_for_show", instance: @instance, edit_button: true, delete_button: true, copy_button: true %>
  </div>
  <div class="row data">
    <table class="table vertical">
      <tr>
        <th class="col-20">ID</th>
        <td class="col-80"><%= @instance.id %></td>
      </tr>
      <tr>
        <th class="col-20">Name</th>
        <td class="col-80"><%= @instance.name %></td>
      </tr>
      <tr>
        <th class="col-20">Description</th>
        <td class="col-80"><%= @instance.description %></td>
      </tr>
      <tr>
        <th class="col-20">Notes</th>
        <td class="col-80"><%= @instance.notes %></td>
      </tr>
      <tr>
        <th class="col-20">Updated At</th>
        <td class="col-80"><%= default_date_format(@instance.updated_at) %></td>
      </tr>
      <tr>
        <th class="col-20">Created At</th>
        <td class="col-80"><%= default_date_format(@instance.created_at) %></td>
      </tr>
      <tr>
        <th class="col-20">Archived At</th>
        <td class="col-80"><%= default_date_format(@instance.archived_at) %></td>
      </tr>
    </table>
  </div>
  <div class="row associations">
    <%= render "shared/admin/associated_titles", obj: @instance %>
  </div>
<% end %>
