<div class="container">
  <div class="row justify-content-center min-vh-100 align-items-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card shadow-sm">
        <div class="card-body p-4">
          <!-- Logo Section -->
          <div class="text-center mb-4">
            <%= render PublicBrand::Component.new(host: request.host) %>
            <h1>Screening Request</h1>
            <p>Please fill out the form below to request screening license and materials.</p>
          </div>
          <%= form_with(
              url: screening_request_form_path(instance: @instance),
              class: "needs-validated",
              html: { novalidate: true },
              data: { 
                controller: "form-validation",
                action: "submit->form-validation#submit"
              }
            ) do |form| %>
            <% if !@instance.new_record? %>
              <input type="hidden" name="_method" value="patch">
            <% end %>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="requestor_title_name" name="requestor_title_name" value="<%= @instance.requestor_title_name %>" required>
              <label for="requestor_title_name" class="form-label">Name(s) of Requested Film(s) (required)</label> 
              <div class="invalid-feedback">
                One or more film names is required.
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="requestor_name" name="requestor_name" value="<%= @instance.requestor_name %>" required>
              <label for="requestor_name" class="form-label">Your Name (required)</label> 
              <div class="invalid-feedback">
                Your full name is required.
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="phone_number" name="phone_number" value="<%= @instance.phone_number %>" required>
              <label for="phone_number" class="form-label">Your Phone Number (required)</label> 
              <div class="invalid-feedback">
                A valid phone number is required. 
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="email" name="email" value="<%= @instance.email %>" required>
              <label for="email" class="form-label">Your Email Address (required)</label>
              <div class="invalid-feedback">
                A valid email address is required. 
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="organization_name" name="organization_name" value="<%= @instance.organization_name %>" required>
              <label for="organization_name" class="form-label">Your Organization Name (required)</label>
              <div class="invalid-feedback">
                The name of you organization is required. 
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="organization_url" name="organization_url" value="<%= @instance.organization_url %>">
              <label for="organization_url" class="form-label">Organization Website</label>
            </div>
            <div class="form-floating mb-3">
              <textarea class="form-control" id="organization_social_media" name="organization_social_media" rows="2" required><%= @instance.organization_social_media %></textarea>
              <label for="organization_social_media" class="form-label">Organization Social Media Handles (required)</label>
            </div>
            <div class="form-floating mb-3">
              <%= select_tag(:business_type, options_for_select(ScreeningRequestBusinessTypes.options_for_select, @instance.business_type), { required: true, multiple: false, prompt: "Select business type...", autocomplete: "off", class: "form-select" }) %>
              <label for="business_type" class="form-label">Business Type (required)</label>
              <div class="invalid-feedback">
                The type of business of your organization is required. 
              </div>
            </div>
            <div class="form-floating mb-3">
              <%= select_tag(:organization_type, options_for_select(ScreeningRequestOrgTypes.options_for_select, @instance.organization_type), { required: true, multiple: false, prompt: "Select organization type...", autocomplete: "off", class: "form-select" }) %>
              <label for="organization_type" class="form-label">Organization Type (required)</label>
              <div class="invalid-feedback">
                The type of organization is required. 
              </div>
            </div>
            <div class="form-floating mb-3">
              <textarea class="form-control" id="organization_notes" name="organization_notes" rows="2"><%= @instance.organization_notes %></textarea>
              <label class="form-check-label" for="organization_notes">Additional Organization Notes</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="venue_name" name="venue_name" value="<%= @instance.venue_name %>" required>
              <label for="venue_name" class="form-label">Venue Name (required)</label>
              <div class="invalid-feedback">
                The name of venue is required. 
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="venue_location" name="venue_location" value="<%= @instance.venue_location %>" required>
              <label for="venue_location" class="form-label">Venue Address (required)</label>
              <div class="invalid-feedback">
                The venue address is required. 
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="venue_country" name="venue_country" value="<%= @instance.venue_country %>" required>
              <label for="venue_country" class="form-label">Venue Country/Territory (required)</label>
              <div class="invalid-feedback">
                The venue country is required. 
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="venue_capacity" name="venue_capacity" value="<%= @instance.venue_capacity %>" required>
              <label for="venue_capacity" class="form-label">Venue Capacity/Number of Seats (required)</label>
              <div class="invalid-feedback">
                The approximate venue capacity/number of seats is required. 
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="screening_number" name="screening_number" value="<%= @instance.screening_number %>" min="1" step="1" required>
              <label class="form-check-label" for="screening_number">Estimated Number of Screenings</label>
              <div class="invalid-feedback">
                The estimated number of screenings is required. 
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="date" class="form-control" id="screening_date" name="screening_date" value="<%= selector_date_format(@instance.screening_date) %>" required>
              <label for="screening_date" class="form-label">Screening Date (required)</label>
              <div class="invalid-feedback">
                A proposed screening date is required. 
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="screening_time" name="screening_time" value="<%= @instance.screening_time %>" required>
              <label class="form-check-label" for="screening_time">Screening Time (required)</label>
              <div class="invalid-feedback">
                A proposed screening time (ex. 7:00pm, 8:30pm) is required. 
              </div>
            </div>
            <div class="form-floating mb-3">
              <textarea class="form-control" id="screening_date_notes" name="screening_date_notes" rows="2"><%= @instance.screening_date_notes %></textarea>
              <label class="form-check-label" for="screening_date_notes">Screening Date Details</label>
            </div>
            <div class="form-check form-switch mb-3 ms-2">
              <input type="hidden" id="is_ticketed" name="is_ticketed" value="0">
              <input class="form-check-input" type="checkbox" role="switch" id="is_ticketed" name="is_ticketed" value="1" <%= @instance.is_ticketed ? 'checked' : nil %>>
              <label class="form-check-label" for="is_ticketed">Is Your Event Ticketed?</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="ticket_price" name="ticket_price" value="<%= @instance.ticket_price %>" required>
              <label for="ticket_price" class="form-label">What is the Ticket Price?</label>
              <div class="invalid-feedback">
                A value of $0.00 (free) or more is required. 
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="expected_attendance" name="expected_attendance" value="<%= @instance.expected_attendance %>" required>
              <label for="expected_attendance" class="form-label">What is the Expected Attendance? (required)</label>
              <div class="invalid-feedback">
                An estimate of expected attendance is required. 
              </div>
            </div>
            <div class="form-floating mb-3">
              <textarea class="form-control" id="marketing_notes" name="marketing_notes" rows="2"><%= @instance.marketing_notes %></textarea>
              <label class="form-check-label" for="marketing_notes">What is your Marketing Strategy/Plan?</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="file_format" name="file_format" value="<%= @instance.file_format %>">
              <label for="file_format" class="form-label">Preferred Format To Screen</label>
            </div>
            <div class="form-floating mb-3">
              <textarea class="form-control" id="equipment_notes" name="equipment_notes" rows="2"><%= @instance.equipment_notes %></textarea>
              <label class="form-check-label" for="equipment_notes">Any Equipment Setup and Needs?</label>
            </div>
            <div class="form-floating mb-3">
              <textarea class="form-control" id="requestor_notes" name="requestor_notes" rows="2"><%= @instance.requestor_notes %></textarea>
              <label class="form-check-label" for="requestor_notes">Add Your Additional Comments/Notes</label>
            </div>
            <div class="form-floating mb-3">
              <textarea class="form-control" id="billing_address" name="billing_address" rows="2" required><%= @instance.billing_address %></textarea>
              <label class="form-check-label" for="billing_address">Billing Address (required)</label>
              <div class="invalid-feedback">
                Billing address is required.
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="billing_phone" name="billing_phone" value="<%= @instance.billing_phone %>" required>
              <label for="billing_phone" class="form-label">Billing Phone (required)</label>
              <div class="invalid-feedback">
                Billing telephone number is required.
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="billing_email" name="billing_email" value="<%= @instance.billing_email %>" required>
              <label for="billing_email" class="form-label">Billing Email (required)</label>
              <div class="invalid-feedback">
                Billing email address is required.
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="fedex_shipping_code" name="fedex_shipping_code" value="<%= @instance.fedex_shipping_code %>">
              <label for="fedex_shipping_code" class="form-label">Fedex Shipping Code</label>
            </div>
            <div class="form-check form-switch mb-3 ms-2">
              <input type="hidden" id="mailing_list_opt_in" name="mailing_list_opt_in" value="0">
              <input class="form-check-input" type="checkbox" role="switch" id="mailing_list_opt_in" name="mailing_list_opt_in" value="1" <%= @instance.mailing_list_opt_in ? 'checked' : nil %>>
              <label class="form-check-label" for="mailing_list_opt_in">Receive emails and newsletters?</label>
            </div>
            <div
              class="cf-turnstile"
              data-sitekey="<%= Rails.application.credentials.dig(:cloudflare, :turnstile_site_key) %>">
            </div>
            <div class="form-group mb-3">
              <button class="btn btn-success me-3">
                <i class="bi bi-check-circle"></i>
                Submit Screening Request
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
